.ui-layout-pane {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    overflow: auto;
    /*padding: 10px;*/
}
.ui-layout-content {
    overflow-x: hidden;
    overflow-y: auto;
    /*padding: 10px;*/
    position: relative;
}
.layout-child-container, .layout-content-container {
    overflow: hidden;
    padding: 0;
}
.layout-child-container {
    border: 0 none;
}
.layout-scroll {
    overflow: auto;
}
.layout-hide {
    display: none;
}
.ui-layout-resizer {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 0 solid #BBBBBB;
}
.ui-layout-resizer-drag {
}
.ui-layout-resizer-hover {
}
.ui-layout-resizer-open-hover, .ui-layout-resizer-dragging {
    background: none repeat scroll 0 0 #C4E1A4;
}
.ui-layout-resizer-dragging {
    border: 1px solid #BBBBBB;
}
.ui-layout-resizer-dragging-limit {
    background: none repeat scroll 0 0 #E1A4A4;
}
.ui-layout-resizer-closed-hover {
    background: none repeat scroll 0 0 #EBD5AA;
}
.ui-layout-resizer-sliding {
    opacity: 0.1;
}
.ui-layout-resizer-sliding-hover {
    opacity: 1;
}
.ui-layout-resizer-north-sliding-hover {
    border-bottom-width: 1px;
}
.ui-layout-resizer-south-sliding-hover {
    border-top-width: 1px;
}
.ui-layout-resizer-west-sliding-hover {
    border-right-width: 1px;
}
.ui-layout-resizer-east-sliding-hover {
    border-left-width: 1px;
}
.ui-layout-toggler {
    background-color: #BBBBBB;
    border: 1px solid #BBBBBB;
}
.ui-layout-resizer-hover .ui-layout-toggler {
    opacity: 0.6;
}
.ui-layout-toggler-hover, .ui-layout-resizer-hover .ui-layout-toggler-hover {
    background-color: #FFCC66;
    opacity: 1;
}
.ui-layout-toggler-north, .ui-layout-toggler-south {
    border-width: 0 1px;
}
.ui-layout-toggler-west, .ui-layout-toggler-east {
    border-width: 1px 0;
}
.ui-layout-resizer-sliding .ui-layout-toggler {
    display: none;
}
.ui-layout-toggler .content {
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 0.35ex;
    width: 100%;
}
.ui-layout-mask {
    border: medium none !important;
    margin: 0 !important;
    opacity: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
}
.ui-layout-mask-inside-pane {
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
}
div.ui-layout-mask {
}
iframe.ui-layout-mask {
}
