
#sidebar {
	background: #E0E9EE;
	float: left;
	height: 800px;
	padding: 5px;
	width: 200px;
	/*border-right  2px solid #AAADAE*/ 
}

#content {
	background: #FFFFFF;
	background: #FFFDE1;
	display: block;
	float: left;
	height: 800px*; /
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 5px;
}

#footer {
		padding: 5px;
	background: #EFEDE8;
	border-top: 2px solid #AAADAE;
	clear: left;
}

/* --------------------------------------------------------- */

div.row { border-bottom: 1px solid #CCCCCC; border-left: 3px solid inherit; display: block; }

.row.current { border-left: 3px solid #000000; }

/* --------------------------------------------------------- */

.header {
	clear: both;
	cursor: pointer;
	display: block;
	padding - left: 7px;
	vertical - align: middle;
	width: 100 % ;
}

.titlerow {
	height: 1.8em;
	line-height: 1.8em;
	margin-right: 8em;
	overflow: hidden;
	position: static;
	width: auto;
}

.current .titlerow .title { font-weight: bold; }

.current .titlerow .excerpt { display: none; }

.unread .titlerow .title { font-weight: bold; }

.excerpt { color: #656565; }

.updated {
	color: #656565;
	float: right;
	line-height: 1.8em;
	margin-right: 0.5em;
	text-align: right;
	text-decoration: none;
}

div.current { 		background: #FFFFFF; }

div.content {
	clear: both;
	display: block;
	font-size: small;
	font-weight: normal;
	line-height: 1.4em;
	overflow: auto;
	padding: 3px 7px;
}

.feedicon { display: block; float: right; }

.main-link-box {
	display: inline;
	float: right;
	height: 16px;
	line-height: 1.8em;
	margin-right: 1em;
	vertical-align: middle;
	width: 16px;
}

.main-link {
	background: url('img/link.png') no-repeat scroll 0 0 transparent;
	height: 16px;
	opacity: 0.4;
	position: absolute;
	width: 16px;
}

/* --------------------------------------------------------- */

.content p { margin: 0.3em 0; }

/* --------------------------------------------------------- */

.stared, .unstared  {
	cursor: pointer;
	display: inline;
	float: left;
	height: 16px;
	vertical-align: middle;
	width: 16px;
}

.stared { background-image: url('img/star_set.png'); }

.unstared { background-image: url('img/star_unset.png'); }

/* --------------------------------------------------------- */

.shared, .unshared  {
	cursor: pointer;
	display: block;
	float: left;
	height: 16px;
	vertical-align: baseline;
	width: 16px;
}

.shared { background-image: url('img/share_set.png'); }

.unshared { background-image: url('img/share_unset.png'); }

/* --------------------------------------------------------- */

.imagebox {
	border: 1px solid #ccc;
	display: block;
	float: left;
	height: 200px;
	margin: 2px;
	overflow: hidden;
	width: 200px;
}

.imagebox img { }
