body{
    background-color: #FFFFFF; /* Цвет фона веб-страницы */
   	font-family: arial,sans-serif;
   	font-size: 12px;	
	margin:0;
}

#sidebar {
	background: #E6E6E6;
	float: left;
	height: 800px;
	/*padding: 5px;*/
	width: 200px;
	overflow: hidden;
}

#content {
	background: #FDF6E3;
	display: block;
	float: left;
	height: 800px * ;
	overflow: hidden;
}

.view {
	padding: 5px;
	position: absolute;
}

#footer {
	padding: 5px;
	background: #EFEDE8;
	border-top: 2px solid #AAADAE;
	clear: left;
}

/* --------------------------------------------------------- */

div.row {
	border-bottom: 1px solid #CCCCCC;
	border-left: 3px solid inherit;
	display: block;
}



/* --------------------------------------------------------- */





div.current { 		
	background: #FFFFFF;
}

div.content {
	clear: both;
	display: block;
	font-size: small;
	font-weight: normal;
	line-height: 1.4em;
	overflow: auto;
	padding: 3px 7px;
}

.feedicon {
	display: block;
	float: right;
}


/* --------------------------------------------------------- */

.content {
	overflow: auto;
}
.content p {
	margin: 0.3em 0;
}

/* --------------------------------------------------------- */


/* --------------------------------------------------------- */

.shared, .unshared {
	cursor: pointer;
	display: block;
	float: left;
	height: 16px;
	vertical-align: middle;
	width: 16px;
}

.shared {
	background-image: url('img/share_set.png');
}

.unshared {
	background-image: url('img/share_unset.png');
}

/* --------------------------------------------------------- */

.imagebox {
	border: 1px solid # ccc;
	display: block;
	float: left;
	height: 200px;
	margin: 2px;
	overflow: hidden;
	width: 200px;
}

.imagebox img {}

/*-----------------------------------------------------------*/

#treetoolbar {
	padding: 4px;
	display: inline-block;
}

/*-----------------------------------------------------------*/

#progname b {
	vertical-align: middle;
}

.toolbar {
	background-color: #CCCCCC;
	border-bottom: 1px solid #CCD;
	clear: both;
	padding-left: 0px;
	padding-right: 0px;
	vertical-align: middle;
	clear: both;
	display: inline-block;
	width:100%;
}

.toolbar button {
	display: inline-block;
	margin: 0;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	padding: 0;
	font-size: 0.9em;
}

.toolbar button:hover {
	border: 1px solid #CC0000;
}

.toolbar select {
	display: inline-block;
	margin: 0;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	padding: 0;
	font-size: 0.9em;
}

.toolbar select:hover {
	border: 1px solid #CC0000;
}

.button .icon-only {
	max-width: 16px;
	max-height: 16px;
	vertical-align: middle;
	padding: 0px;
}

button.selected {
	background-color: #FF8AF7;
}

.left {
	float: left;
}

.right {
	float: right;
}

span#progname {
	padding-left: 7px;
	display: table-cell;
	float: left;
}

.rightmenu {
	display: table-cell;
	float:right;
}

/*--------------------------------------------*/

.stared, .unstared, .shared, .unshared {
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-right: 0.2em;
	margin-bottom: 0.15em;
}

.stared {
	background-image: url('img/star_set.png');
}

.unstared {
	background-image: url('img/star_unset.png');
}

.shared {
	background-image: url('img/share_set.png');
}

.unshared {
	background-image: url('img/share_unset.png');
}


/*--------------------------------------------*/


.row { 
	clear: both;
	padding: 0px;
	width:100%;
	overflow: hidden;
}

.header {
	clear: both;
    height: 1.6em;
    line-height:1.6em;
    position: relative;
    overflow: hidden;
}


.iconscolumn {
    float:left;
    display:inline-block;
    position: relative;
    line-height: 1.6em;
    height: 1.6em;
    padding-top: 0.15em;
    margin-left: 0.2em;
}

.iconscolumn > input {
	height: 16px;
	width: 16px;
	margin-bottom: 0.15em;
	display: inline-block;
}

.titlecolumn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    position: static;
}

.updatecolumn {
    display:inline-block;
    float:right;
    width: auto;
    position: static;
    padding-right: 0.5em;
}

.title {
	cursor: pointer;
}

.current .header {
	background-color: #CCCCCC;
}


.row.current {
	/*border-left: 3px solid #000000; */
	border-top: 1px solid #0000FF;
	border-bottom: 1px solid #0000FF;
}

.current .titlecolumn .title { font-weight: bold; }

.current .titlecolumn .excerpt { display: none; }

.unread .titlecolumn .title { font-weight: bold; }

.excerpt { 
	color: # 656565;
}

a.article-link {
	display: none;
}

.hidden {
	display: none;
}

.ui-dialog {
	border: 1px solid #ccc;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}