<div class="itemrow <%=status%>" id="i-<%=id%>">
  <div class="header" data-id="<%=id%>">
  <div class="iconscolumn checkbox <%=multi%>"><input id="chk-<%=id%>" type="checkbox"></div>
  <div class="iconscolumn star"><div data-action="state_star" data-id="<%=id%>" id="str-<%=id%>" class="<%=star%>"></div></div>
  <!-- <div class="iconscolumn share"><div id="shr-<%=id%>" class="<%=publish%>"></div></div> -->
  <div class="updatecolumn"><%=updated%></div>
  <div class="titlecolumn"><span id="hdr-<%=id%>" class="title"><%=title%></span>
  <span class="excerpt"><%=excerpt%></span></div>
  </div>
</div>
