<div class="container">

<div class="col-sm-6 col-md-4 col-md-offset-4">

      <form id="loginForm" class="form-signin">
        <h3 class="form-signin-heading">tt-rss<sub>/ng</sub></h3>
        <label for="inputLogin" class="sr-only">Login</label>
        <input type="text" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        
       <!--  <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        
		<button id="loginButton" class="btn btn-sm btn-primary btn-block">Sign in</button>
     </form>

</div>

</div> <!-- /container -->